## Using nba_api python module to webscrape NBA data from NBA.com API

### NBA API Source Code - Very Useful

nba_api source code = https://github.com/swar/nba_api

### Import neccesary modules

In [44]:
import pandas as pd

import nba_api
from nba_api.stats.static import players
from nba_api.stats.static import teams
from nba_api.stats.endpoints import playergamelog
from nba_api.stats.library.parameters import SeasonAll
from nba_api.stats.endpoints import leaguegamefinder

### Create a player dictionary with all NBA players from nba_api

In [45]:
player_dict = players.get_players()

### Define and call a Darius Garland variable from player_dict

In [46]:
Garland = [player for player in player_dict if player['full_name'] == 'Darius Garland'][0]
Garland

{'id': 1629636,
 'full_name': 'Darius Garland',
 'first_name': 'Darius',
 'last_name': 'Garland',
 'is_active': True}

### Create a teams dictionary with all NBA teams from nba_api

In [47]:
team_dict = teams.get_teams()

### Define and call a Cleveland Cavaliers variable from team_dict

In [48]:
Cavs = [team for team in team_dict if team['full_name'] == 'Cleveland Cavaliers']
Cavs

[{'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

### Retrieve 2021-2022 game log data for Darius Garland from nba_api and then convert to pandas dataframe

In [49]:
gamelog_Garland_2021 = playergamelog.PlayerGameLog(player_id='1629636', season = '2021')
gamelog_Garland_2021_df = gamelog_Garland_2021.get_data_frames()[0]

### Retrieve career game log data for Darius Garland from nba_api and then convert to pandas dataframe¶

In [50]:
gamelog_Garland_all = playergamelog.PlayerGameLog(player_id='1629636', season = SeasonAll.all)
gamelog_Garland_all_df = gamelog_Garland_all.get_data_frames()[0]
gamelog_Garland_all_df.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22021,1629636,0022101218,"APR 10, 2022",CLE vs. MIL,W,23,4,7,0.571,...,2,2,8,0,0,0,0,11,38,1
1,22021,1629636,0022101205,"APR 08, 2022",CLE @ BKN,L,41,12,24,0.500,...,0,0,3,2,0,2,1,31,-3,1
2,22021,1629636,0022101179,"APR 05, 2022",CLE @ ORL,L,41,11,24,0.458,...,5,6,10,2,0,1,0,27,-1,1
3,22021,1629636,0022101170,"APR 03, 2022",CLE vs. PHI,L,37,7,18,0.389,...,2,4,4,4,0,1,3,23,0,1
4,22021,1629636,0022101162,"APR 02, 2022",CLE @ NYK,W,36,8,19,0.421,...,0,0,13,0,0,4,3,24,22,1

### Retrieve game log data for Cleveland Cavaliers

In [51]:
Cavs_games = leaguegamefinder.LeagueGameFinder(team_id_nullable='1610612739').get_data_frames()[0]
Cavs_games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,52021,1610612739,CLE,Cleveland Cavaliers,0052100201,2022-04-15,CLE vs. ATL,L,239,101,...,0.824,8,28,36,23,8,4,11,20,-6.0
1,52021,1610612739,CLE,Cleveland Cavaliers,0052100101,2022-04-12,CLE @ BKN,L,239,108,...,0.850,10,30,40,26,9,2,15,21,-7.0
2,22021,1610612739,CLE,Cleveland Cavaliers,0022101218,2022-04-10,CLE vs. MIL,W,240,133,...,0.706,10,38,48,39,5,5,10,26,18.0
3,22021,1610612739,CLE,Cleveland Cavaliers,0022101205,2022-04-08,CLE @ BKN,L,239,107,...,0.792,10,21,31,19,4,4,8,20,-11.0
4,22021,1610612739,CLE,Cleveland Cavaliers,0022101179,2022-04-05,CLE @ ORL,L,240,115,...,0.682,9,38,47,25,6,4,11,11,-5.0

### Saving gamelog dataframe to a CSV file

In [52]:
gamelog_Garland_2021_df.to_csv('2021NBAGarlandGamelog.csv')